<section>
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input formControlName="email" type="email" matInput placeholder="Your email">
      <mat-hint>Please enter a valid email.</mat-hint>
      <mat-error>Invalid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="password" type="password" matInput placeholder="Your password">
      <mat-hint>Please enter your password.</mat-hint>
      <mat-error>Missing password</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Submit</button>
  </form>
</section>