a {
  text-decoration: none;
  color: white;

  &:hover,
  &:active {
    color: lightgray;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  li {
    margin: 0 5px;
  }
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}
