<section>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-elements-container">
      <mat-form-field>
        <input type="email" #emailInput="ngModel" email required matInput placeholder="Your email" ngModel name="email">
        <mat-error *ngIf="emailInput.hasError('required')">Filed must not be empty.</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">Must be a valid email address.</mat-error>
      </mat-form-field>
      <mat-form-field hintLabel="Should be at least 6 characters long.">
        <input type="password" required minlength="6" matInput #pwInput="ngModel" placeholder="Your password" ngModel name="password">
        <mat-hint align="end">{{ pwInput.value?.length}} / 6</mat-hint>
        <mat-error>Password must be at least 6 characters long.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Your Birthdate" [matDatepicker]="picker" [max]="maxDate" ngModel name="birthday" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-checkbox ngModel name="agree" required color="primary">Agree to Terms and Conditions</mat-checkbox>
      <button class="submit-button" type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
    </div>

  </form>
</section>